HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# Root project ignores

# Maven
/target
!.mvn/wrapper/maven-wrapper.jar

# IntelliJ
.idea/
*.iml
*.ipr
*.iws
out/

# Logs
*.log

# OS
.DS_Store

# UI (React project) specific ignores
/ui/node_modules
/ui/.pnp
/ui/.pnp.js

# UI testing
/ui/coverage

# UI production build
/ui/build

# UI environment files
/ui/.env.local
/ui/.env.development.local
/ui/.env.test.local
/ui/.env.production.local

# UI debug logs
/ui/npm-debug.log*
/ui/yarn-debug.log*
/ui/yarn-error.log*

